body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 0;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 7.4vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 0.3vw solid #309;
  border-bottom: 0.3vw solid #309;
}

.menu {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 9vw;
}

.menu__item {
  display: flex;
  justify-content: flex-end;
  font: 800 1.4vmax "Gilroy", arial, helvetica, sans-serif;
  padding-right: 3vw;
  padding-top: 0.3vw;
  color: #585858;
  text-decoration: none;
}

.menu__btn {
  position: relative;
  font: 800 1.4vmax "Montserrat", arial, helvetica, sans-serif;
  color: #fff;
  right: 9vw;
  width: 12.6vw;
  height: 3.5vw;
  background: #309;
  border-radius: 5vw;
  text-decoration: none;
  outline: none;
}

.main {
  width: 100vw;
  height: 34vw;
  background: top center no-repeat url(img/mainImg.svg);
  background-size: contain;
}

.main__title {
  font: 900 2.8vmax "Montserrat", arial, helvetica, sans-serif;
  color: #309;
  text-align: right;
  margin: 0;
  padding: 10.4vw 9vw 0 46vw;
}

.main__subtitle {
  font: 700 2.1vmax "Montserrat", arial, helvetica, sans-serif;
  color: #fff;
  text-align: right;
  margin: 0;
  padding: 0.6vw 9.2vw;
}

.advantages {
  width: 100vw;
  height: 50.2vw;
  color: #585858;
}

.advantages__column {
  height: 0.12vh;
  width: 54.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 9vw;
}

.advantages__title,
.skills__title {
  font: 900 2.08vmax "Montserrat", arial, helvetica, sans-serif;
  text-align: center;
}

.advantages__title {
  margin-bottom: 3.5vw;
  margin-top: 5.5vw;
}

.column1 {
  background: top center no-repeat url(img/advIcon1.svg);
  background-size: 6vw auto;
}

.column2 {
  background: top center no-repeat url(img/advIcon2.svg);
  background-size: 6vw auto;
  margin-left: 7.6vw;
}

.column3 {
  background: top center no-repeat url(img/advIcon3.svg);
  background-size: 6vw auto;
  margin-left: 5.8vw;
}

.column1__subtitle,
.column2__subtitle,
.column3__subtitle {
  font: 900 2.1vmax "Montserrat", arial, helvetica, sans-serif;
  text-align: center;
}

.column1__subtitle {
  padding-top: 6.4vw;
  margin-bottom: 0.4vw;
}

.column2__subtitle {
  padding-top: 6.4vw;
}

.column3__subtitle {
  padding-top: 8.2vw;
  margin: 0;
}

.column1__discription,
.column2__discription,
.column3__discription {
  font: 500 1.4vmax "Montserrat", arial, helvetica, sans-serif;
  text-align: center;
}

.column1__discription {
  margin: 0;
}

.column2__discription {
  padding-left: 0.4vw;
}

.column3__discription {
  margin-top: 0.5vw;
}

.column3__discription_mob {
  display: none;
}

.skill1__subtitle_mob,
.skill1__discription_mob {
  display: none;
}

.advantages__btn {
  position: relative;
  font: 800 1.3vmax "Montserrat", arial, helvetica, sans-serif;
  color: #ffda45;
  width: 24vw;
  height: 4.6vw;
  background: #309;
  border-radius: 5vw;
  left: 50vw;
  transform: translate(-12vw, 0);
  outline: none;
  top: 28.8vw;
}

.skills {
  color: #585858;
  width: 100vw;
  height: 58.2vw;
}

.skills__title {
  padding-bottom: 2vw;
}

.skill1 {
  background: top left no-repeat url(img/skillIcon1.svg);
  background-size: 12vw auto;
  background-position: 9vw 0;
}

.skill2 {
  background: top right no-repeat url(img/skillIcon2.svg);
  background-size: 12vw auto;
  background-position: 78.8vw 7.1vh;
  padding-top: 6vw;
  padding-right: 8.5vw;
}

.skill3 {
  background: top left no-repeat url(img/skillIcon3.svg);
  background-size: 12vw auto;
  background-position: 9vw 3.2vw;
  padding-top: 4vw;
}

.skill1__subtitle,
.skill2__subtitle_first-line,
.skill2__subtitle_second-line,
.skill3__subtitle {
  font: 600 2.08vw "Montserrat", arial, helvetica, sans-serif;
}

.skill1__subtitle {
  text-align: left;
  padding-left: 23vw;
  padding-bottom: 0.4vw;
  margin: 0;
}

.skill2__subtitle_first-line {
  text-align: right;
  padding-left: 50.3vw;
}

.skill2__subtitle_second-line {
  text-align: right;
  padding-left: 38.8vw;
}

.skill3__subtitle {
  text-align: left;
  padding-left: 23vw;
  margin: 0;
}

.skill1__discription,
.skill2__discription,
.skill3__discription {
  font: 500 1.4vw "Montserrat", arial, helvetica, sans-serif;
}

.skill1__discription {
  padding-left: 22.9vw;
  padding-bottom: 1.6vw;
  margin: 0;
}

.skill2__discription {
  text-align: right;
  padding-right: 14.2vw;
  padding-bottom: 3.8vw;
  margin-top: 0.4vw;
  margin-bottom: 0;
}

.skill3__discription {
  text-align: left;
  padding-left: 23vw;
  padding-bottom: 3vw;
  margin-top: 0.3vw;
  margin-bottom: 0;
}

.form {
  width: 100vw;
  height: 59.6vw;
  color: #585858;
  background: rgba(51, 0, 153, 0.12) top center no-repeat url(img/formIcon.svg);
  background-position: 43.4vw 9.2vw;
  background-size: 12.1vw auto;
}

.form__title {
  font: 900 2.08vmax "Montserrat", arial, helvetica, sans-serif;
  padding: 4.1vw 1vw 13vw 0;
  text-align: center;
}

.form__subtitle {
  font: 600 1.4vmax "Montserrat", arial, helvetica, sans-serif;
  text-align: center;
  margin-bottom: 2.4vw;
  margin-top: 5vw;
}

.form__subtitle_mob {
  display: none;
}

input {
  font: 600 1.04vw "Montserrat", arial, helvetica, sans-serif;
  padding-left: 2.7vw;
  background: #fbfbfb;
  border: 0.1vw solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 5vw;
  width: 21vw;
  height: 4.9vw;
  outline: none;
  margin: 0.07vw 39.5vw;
}

.form__btn {
  display: flex;
  font: 900 1.4vmax "Montserrat", arial, helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 21vw;
  height: 5vw;
  background: #4ab272;
  border-radius: 5vw;
  margin: 2.5vw 39.5vw;
}

footer {
  width: 100vw;
  height: 22.3vw;
  background: #309;
}

.footer__title,
.footer__background {
  font: 400 1.4vmax "Roboto", arial, helvetica, sans-serif;
  color: #fff;
  text-align: center;
}

.footer__title {
  margin: 0;
  padding-top: 4vw;
}

.footer__title_mob {
  display: none;
}

.footer__background {
  padding-bottom: 8vw;
  margin: 0;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 7vw;
  margin-top: 1.3vw;
  padding-bottom: 4.2vw;
}

.footer__social_linkedin,
.footer__social_Instagram,
.footer__social_Facebook {
  padding-right: 7vw;
  width: 4vw;
  height: 5vw;
}

.footer__social_linkedin {
  background: no-repeat url(img/linkedin.svg);
  background-size: 4.2vw auto;
}

.footer__social_Instagram {
  background: no-repeat url(img/Instagram.svg);
  background-size: 4.2vw auto;
}

.footer__social_Facebook {
  background: no-repeat url(img/Facebook.svg);
  background-size: 4.2vw auto;
}

@media (max-width: 320px) {
  body {
    font-family: "Montserrat", sans-serif;
    width: 320px;
    margin: 0;
  }

  .wrapper {
    width: 320px;
    margin: 0;
  }

  .header {
    background: no-repeat url(img/hambMenuMob.svg);
    background-position: 267px 15px;
    width: 100%;
    height: 50px;
    border: none;
  }

  .menu__item {
    display: none;
  }

  .menu__btn {
    right: 72px;
    font: 800 8px/10px "Montserrat", arial, helvetica, sans-serif;
    width: 70px;
    height: 20px;
  }

  .main {
    height: 234px;
    width: 320px;
    background: no-repeat url(img/mainImgMob.svg);
    background-position-y: 4px;
  }

  .main__title {
    font-size: 0;
    padding: 90px 0 30px 0;
    background: url(img/mainTitleMob.svg) 67px 32px no-repeat,
                url(img/mainSubtitleMob.svg) 107px 80px no-repeat;
  }

  .main__subtitle_first-line,
  .main__subtitle_second-line {
    font-size: 0;
  }

  .advantages {
    width: 320px;
    height: 884px;
  }

  .advantages__column {
    flex-wrap: nowrap;
    width: 300px;
    margin-left: 0;
  }

  .advantages__title  {
    font: 900 16px/20px "Montserrat", arial, helvetica, sans-serif;
    text-align: center;
    margin: 47px 28px 37px 26px;
  }

  .column1,
  .column2,
  .column3 {
    margin: 0;
  }

  .column1 {
    background: no-repeat url(img/advIcon1Mob.svg);
    background-position: 115px 2px;
  }

  .column2 {
    background: no-repeat url(img/advIcon2Mob.svg);
    background-position: 121px 33px;
  }

  .column3 {
    background: no-repeat url(img/advIcon3Mob.svg);
    background-position: 100px 34px;
  }

  .column1__subtitle,
  .column2__subtitle,
  .column3__subtitle {
    font: 900 16px/20px "Montserrat", arial, helvetica, sans-serif;
  }

  .column1__subtitle {
    padding-top: 43px;
    padding-left: 18px;
  }

  .column2__subtitle {
    padding-top: 93px;
    padding-left: 18px;
    margin: 0;
  }

  .column3__subtitle {
    margin: 0;
    padding-top: 94px;
    padding-left: 24px;
  }

  .column1__discription,
  .column2__discription,
  .column3__discription_mob {
    font: 500 16px/20px "Montserrat", arial, helvetica, sans-serif;
    text-align: center;
  }

  .column1__discription {
    padding-top: 2px;
    padding-left: 15px;
  }

  .column2__discription {
    padding-top: 2px;
    padding-left: 20px;
    margin: 0;
  }

  .column3__discription {
    display: none;
  }

  .column3__discription_mob {
    display: block;
    padding-top: 3px;
    padding-left: 16px;
    margin: 0;
  }

  .advantages__btn {
    font: 800 16px/20px "Montserrat", arial, helvetica, sans-serif;
    top: 685px;
    width: 262px;
    height: 54px;
    left: 68px;
    border-radius: 50px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .skills {
    width: 300px;
    height: 461px;
  }


  .skills__title {
    font: 900 16px/20px "Montserrat", arial, helvetica, sans-serif;
    margin-bottom: 0;
    padding-left: 20px;
  }

  .skill1 {
    background: no-repeat url(img/skillIcon1.svg);
    background-position: 72px 15px;
  }

  .skill1__subtitle_mob {
    display: block;
    font: 600 16px/20px "Montserrat", arial, helvetica, sans-serif;
    text-align: center;
    padding-top: 201px;
    padding-left: 17px;
    margin-bottom: 0;
  }

  .skill1__discription_mob {
    display: block;
    font: 500 14px/17px "Montserrat", arial, helvetica, sans-serif;
    margin-top: 9px;
    padding-left: 15px;
    text-align: center;
  }

  .skill2,
  .skill3,
  .skill1__subtitle,
  .skill2__subtitle_first-line,
  .skill2__subtitle_second-line,
  .skill3__subtitle,
  .skill1__discription,
  .skill2__discription,
  .skill3__discription {
    display: none;
  }

  .skill1__circle_yellow {
    background: #ffda45;
    border-radius: 50%;
    margin-left: 123px;
    margin-top: 28px;
    width: 15px;
    height: 15px;
  }

  .skill1__circle_transparent1,
  .skill1__circle_transparent2 {
    background: #fff;
    border: 1px solid #e1e6e9;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .skill1__circle_transparent1 {
    margin-left: 154px;
    margin-top: -15px;
  }

  .skill1__circle_transparent2 {
    margin-left: 181px;
    margin-top: -15px;
  }

  .form {
    display: block;
    height: 532px;
    width: 320px;
    background: rgba(51, 0, 153, 0.12) left center no-repeat url(img/formIcon.svg);
    background-position: 74px 72px;
    padding-bottom: 104px;
  }

  .form__title {
    font: 900 16px/19px "Montserrat", arial, helvetica, sans-serif;
    padding: 34px 0 207px 0;
  }

  .form__subtitle {
    display: none;
  }

  .form__subtitle_mob {
    display: block;
    font: 600 16px/19px "Montserrat", arial, helvetica, sans-serif;
    text-align: center;
    margin-bottom: 21px;
  }

  input {
    display: block;
    font: 600 10px/12px "Montserrat", arial, helvetica, sans-serif;
    padding-left: 40px;
    width: 259px;
    height: 50px;
    margin: 1px 32px;
    padding-left: 23px;
  }

  input:nth-child(1) {
    margin: 1px 32px;
    margin-bottom: -6px;
    border-radius: 50px;
  }

  .form__btn {
    font: 900 16px/19px "Montserrat", arial, helvetica, sans-serif;
    width: 260px;
    height: 50px;
    margin: 37px 32px 0 32px;
    border-radius: 50px;
  }

  footer {
    width: 320px;
    height: 208px;
  }

  .footer__title {
    display: none;
  }

  .footer__title_mob {
    display: block;
    font: 500 14px/16px "Roboto", arial, helvetica, sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 33px;
    margin: 0;
  }

  .footer__background {
    font: 400 14px/16px "Roboto", arial, helvetica, sans-serif;
  }

  .footer__background {
    padding-top: 21px;
  }

  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 60px;
    margin-top: 1px;
  }

  .footer__social_linkedin {
    background: no-repeat url(img/linkedinMob.svg);
    width: 35px;
    height: 35px;
    background-size: contain;
    padding-right: 89px;
    margin-left: 7px;
  }

  .footer__social_Instagram {
    background: no-repeat url(img/InstagramMob.svg);
    width: 35px;
    height: 35px;
    padding-right: 87px;
  }

  .footer__social_Facebook {
    background: no-repeat url(img/FacebookMob.svg);
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  body {
    font-family: "Montserrat", sans-serif;
    min-width: 321px;
    max-width: 375px;
    margin: 0;
  }

  .wrapper {
    min-width: 321px;
    max-width: 375px;
    margin: 0;
  }

  .header {
    background: no-repeat url(img/hambMenuMob.svg);
    background-position: 88vw 4.5vw;
    min-width: 321px;
    max-width: 375px;
    height: 54px;
    border: none;
  }

  .menu__item {
    display: none;
  }

  .menu__btn {
    right: 72px;
    font: 800 8px/10px "Montserrat", arial, helvetica, sans-serif;
    width: 70px;
    height: 20px;
  }

  .main {
    min-width: 321px;
    max-width: 375px;
    height: 230px;
    background: top no-repeat url(img/mainImgMob375.svg);
    background-position-x: -37px;
  }

  .main__title {
    font-size: 0;
    background: url(img/mainTitleMob.svg) 110px 28px no-repeat,
                url(img/mainSubtitleMob.svg) 140px 76px no-repeat;
    padding-bottom: 83px;
  }

  .main__subtitle_first-line,
  .main__subtitle_second-line {
      font-size: 0;
  }

  .advantages {
    min-width: 321px;
    max-width: 375px;
    height: 884px;
  }

  .advantages__column {
    flex-wrap: nowrap;
    min-width: 321px;
    max-width: 375px;
    margin-left: 0;
  }

  .advantages__title  {
    font: 900 16px/20px "Montserrat", arial, helvetica, sans-serif;
    text-align: center;
    margin: 48px 75px 38px 90px;
  }

  .column1,
  .column2,
  .column3 {
    margin: 0;
  }

  .column1 {
    background: no-repeat url(img/advIcon1Mob.svg);
    background-position-x: 164px;
  }

  .column2 {
    background: top left no-repeat url(img/advIcon2Mob.svg);
    background-position: 167px 37px;
  }

  .column3 {
    background: top left no-repeat url(img/advIcon3Mob.svg);
    background-position: 149px 35px;
  }

  .column1__subtitle,
  .column2__subtitle,
  .column3__subtitle {
    font: 900 16px/20px "Montserrat", arial, helvetica, sans-serif;
  }

  .column1__subtitle {
    padding-top: 40px;
    padding-left: 66px;
  }

  .column2__subtitle {
    padding-top: 96px;
    padding-left: 69px;
    margin: 0;
  }

  .column3__subtitle {
    padding-left: 72px;
    padding-top: 94px;
  }

  .column1__discription,
  .column2__discription,
  .column3__discription_mob {
    font: 500 16px/20px "Montserrat", arial, helvetica, sans-serif;
    text-align: center;
  }

  .column1__discription {
    margin-left: 64px;
  }

  .column2__discription {
    padding-left: 65px;
    margin: 0;
    padding-top: 3px;
  }

  .column3__discription {
    display: none;
  }

  .column3__discription_mob {
    display: block;
    margin: 0;
    padding-left: 65px;
  }

  .advantages__btn {
    font: 800 16px/20px "Montserrat", arial, helvetica, sans-serif;
    top: 685px;
    width: 262px;
    height: 54px;
    left: 68px;
    border-radius: 50px;
    left: 52%;
    transform: translate(-50%, 0);
  }

  .skills {
    min-width: 321px;
    max-width: 375px;
    height: 461px;
  }

  .skills__title {
    font: 900 16px/20px "Montserrat", arial, helvetica, sans-serif;
    padding-left: 15px;
    margin-bottom: 0;
  }

  .skill1 {
    background: no-repeat url(img/skillIcon1.svg);
    background-position: 108px 13px;
  }

  .skill1__subtitle_mob {
    display: block;
   font: 600 16px/20px "Montserrat", arial, helvetica, sans-serif;
   text-align: center;
   padding-top: 201px;
   padding-left: 17px;
   margin-bottom: 0;
  }

  .skill1__discription_mob {
    display: block;
    font: 500 14px/17px "Montserrat", arial, helvetica, sans-serif;
    margin-top: 9px;
    padding-left: 15px;
    text-align: center;
  }

  .skill2,
  .skill3,
  .skill1__subtitle,
  .skill2__subtitle_first-line,
  .skill2__subtitle_second-line,
  .skill3__subtitle,
  .skill1__discription,
  .skill2__discription,
  .skill3__discription {
    display: none;
  }

  .skill1__circle {
     margin-left: 35px;
   }

  .skill1__circle_yellow {
    background: #ffda45;
    border-radius: 50%;
    margin-left: 123px;
    margin-top: 28px;
    width: 15px;
    height: 15px;
  }

  .skill1__circle_transparent1,
  .skill1__circle_transparent2 {
    background: #fff;
    border: 1px solid #e1e6e9;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .skill1__circle_transparent1 {
    margin-left: 154px;
    margin-top: -15px;
  }

  .skill1__circle_transparent2 {
    margin-left: 181px;
    margin-top: -15px;
  }

  .form {
    display: block;
    min-width: 321px;
    max-width: 375px;
    height: 637px;
    background: rgba(51, 0, 153, 0.12) left center no-repeat url(img/formIcon.svg);
    background-position: 109px 72px;
  }

  .form__title {
    font: 900 16px/19px "Montserrat", arial, helvetica, sans-serif;
    padding: 33px 0 207px 0;
  }


  .form__subtitle {
    display: none;
  }

  .form__subtitle_mob {
    display: block;
    font: 600 16px/19px "Montserrat", arial, helvetica, sans-serif;
    text-align: center;
    margin-bottom: 23px;
    padding-left: 12px;
  }

  input {
    display: block;
    font: 600 10px/12px "Montserrat", arial, helvetica, sans-serif;
    padding-left: 40px;
    width: 259px;
    height: 50px;
    margin: 1px 32px;
    padding-left: 23px;
  }

  input:nth-child(1) {
    margin: 1px 66px;
    margin-bottom: -6px;
    border-radius: 50px;
  }

  .form__btn {
    font: 900 16px/19px "Montserrat", arial, helvetica, sans-serif;
    width: 260px;
    height: 50px;
    margin: 37px 32px 0 66px;
    border-radius: 50px;
  }

 footer {
   min-width: 321px;
   max-width:375px;
   height: 208px;
 }

  .footer__title {
    display: none;
  }

  .footer__title_mob {
    display: block;
    font: 500 14px/16px "Roboto", arial, helvetica, sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 33px;
    margin: 0;
  }

  .footer__background {
    font: 400 14px/16px "Roboto", arial, helvetica, sans-serif;
  }

  .footer__background {
    padding-top: 21px;
  }

  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 60px;
    margin: 0;
  }

  .footer__social_linkedin {
    background: no-repeat url(img/linkedinMob.svg);
    width: 35px;
    height: 35px;
    background-size: contain;
    padding-right: 94px;
    margin-left: 62px;
  }

  .footer__social_Instagram {
    background: no-repeat url(img/InstagramMob.svg);
    width: 35px;
    height: 35px;
    padding-right: 85px;
  }

  .footer__social_Facebook {
    background: no-repeat url(img/FacebookMob.svg);
    width: 35px;
    height: 35px;
  }
}
